In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/bookings.csv', sep=';')

In [ ]:
data.shape

(119390, 21)

In [ ]:
data.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [ ]:
data.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [ ]:
data.columns = data.columns.str.lower().str.replace(' ', '_')
data.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [ ]:
succesfull_bookings = data[data['is_canceled'] == 0]
top_country = succesfull_bookings['country'].value_counts()
print(top_country.head())

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

In [ ]:
count_night = data.groupby('hotel')['stays_total_nights'].mean()
print(count_night.head())

hotel
City Hotel      2.978142
Resort Hotel    4.318547
Name: stays_total_nights, dtype: float64

In [ ]:
difference = data[data['assigned_room_type'] != data['reserved_room_type']]
print(len(difference))

14917

In [ ]:
succesfull_booking = data[data['is_canceled'] == 0]
succesfull_2016 = succesfull_booking[succesfull_booking['arrival_date_year'] == 2016]
succesfull_pop_mounth = succesfull_2016['arrival_date_month'].value_counts().idxmax()
print('Самый частый месяц 2016:', succesfull_pop_mounth)

Самый частый месяц 2016: October

In [ ]:
succesful_booking = data[data['is_canceled'] == 0]
succesful_2017 = succesful_booking[succesful_booking['arrival_date_year'] == 2017]
succesfull_pop_mounth_2 = succesful_2017['arrival_date_month'].value_counts().idxmax()
print('Самый частый месяц 2017:', succesfull_pop_mounth_2)

Самый частый месяц 2017: May

In [ ]:
cancel_booking = data[(data['is_canceled'] == 1) & (data['hotel'] == 'City Hotel')]
cancel_City = cancel_booking.groupby(['arrival_date_year', 'arrival_date_month'])['is_canceled'].count()
best_month_cancel = cancel_City.groupby('arrival_date_year').idxmax()
best_month_cancel = best_month_cancel.apply(lambda x: x[1])
best_month_cancel

arrival_date_year
2015    September
2016      October
2017          May
Name: is_canceled, dtype: object

In [ ]:
import numpy as np
adults_mean = data['adults'].mean()
children_mean = data['children'].mean()
babies_mean = data['babies'].mean()
means = np.array([adults_mean, children_mean, babies_mean])
max_mean = np.max(means)


print(adults_mean, children_mean, babies_mean, max_mean, sep=', ')

1.8564033838679956, 0.10388990333874994, 0.007948739425412514, 1.8564033838679956

In [ ]:
data['total_kids'] = data['children'] + data['babies']
popular_hotel = data.groupby('hotel')['total_kids'].mean()
popular_hotel

hotel
City Hotel      0.096311
Resort Hotel    0.142586
Name: total_kids, dtype: float64

In [ ]:
data['has_kids'] = data['total_kids'] > 0

In [ ]:

churned_clients = data[data['reservation_status'].isin(['Canceled', 'No-Show'])]
total_clients = len(data)
churned_clients_count = len(churned_clients)
churn_rate = (churned_clients_count / total_clients) * 100

print(f"Churn rate: {churn_rate:.2f}%")

churn_rate_by_hotel = churned_clients.groupby('hotel').size() / data.groupby('hotel').size() * 100

print(churn_rate_by_hotel)

Churn rate: 37.04%
hotel
City Hotel      41.726963
Resort Hotel    27.763355
dtype: float64